language: java
sudo: false
dist: trusty
jdk:
- oraclejdk8
- oraclejdk9
- openjdk10
- openjdk11
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - $HOME/.m2
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
before_install:
- mvn install:install-file -Dfile=lib/spring-restdocs-core-2.0.3.RELEASE-test.jar
  -DgroupId=org.springframework.restdocs -DartifactId=spring-restdocs-core -Dversion=2.0.3.RELEASE
  -Dpackaging=jar -Dclassifier=test
script:
- mvn install -B -V
- cd samples
- mvn install -B -V
- cd java-webmvc && ./gradlew check && cd ..
- test "$TRAVIS_JDK_VERSION" = "oraclejdk8" && cd kotlin-webmvc && ./gradlew check && cd .. || (exit 0)
after_success:
- echo $GPG_SECRET_KEYS | base64 --decode | gpg --import
- cd $TRAVIS_BUILD_DIR
- echo TRAVIS_PULL_REQUEST=\"$TRAVIS_PULL_REQUEST\"
- echo TRAVIS_JDK_VERSION=\"$TRAVIS_JDK_VERSION\"
- test "$TRAVIS_PULL_REQUEST" = "false"
  && test "$TRAVIS_JDK_VERSION" = "oraclejdk8"
  && mvn deploy --settings travis-settings.xml -DskipTests=true -B -V
- test "$TRAVIS_PULL_REQUEST" = "false"
  && test "$TRAVIS_JDK_VERSION" = "oraclejdk9"
  && cd spring-auto-restdocs-json-doclet-jdk9
  && mvn deploy --settings ../travis-settings.xml -DskipTests=true -B -V
branches:
  only:
  - master
env:
  global:
  - DEPLOY_DIR="$TRAVIS_BUILD_DIR/deploy"
  - secure: "XEOwrU1GVRh+S7G/gsrR3XJz7ta8x1zcuBtzN9fwGGcN8IjkQocOMZqy2vuHEldjTGCMeo3TDRHx+83Kf7QPMx1win4brP3wVrW3b+cb+47Fu45n7UzQwunGhqM2R2gAjUKhglQl7w9bzxXKzQXu7DSp9vTXw8CdpYgndzt2XyKHhCY0AaMX9l3a6bl+++MHyag2en9RFMJ+qBdtI0WUId7JnoUUhSkKA9xZ0WmCM9CijyydpuqjTtw13+IJjoc6knceMi//wQWkw0hs6chT/WgoqJNQpsDwbPDw7FkWo3K83kjbRi3eNudL6bIjTZ3JAB/C5KXSQwN7Q4QKNuCdUdEy7PpxON06W2xL28tz8BTXECs0qnvXmOhYChQF9UzGY+xE5LKNPg6LhNTRdo0x3AM8dXkU7j77zK3ka12X7HSChP+/DEjKZ/XRd6n1Awx/T8iA1SyThCET+nLjQIcerVjhNS0epHtlAoaTCUEcoRL28kfqEI4z58hv7YekAGMmcrqCMRQtCt/b4p9eWZ2+LK2KLy7UEo00tOu3tZvjmytaTn3L4E/C967M8EMRitesZ36UF0/DsSKWmM0p/uahaeUVGF7YVj1PIXwFf6mD7ytKrgG37jpSaorKBQMlE8IzDVmiZZH1tOjq2voOQOUzPXD6Ji68N8tM/JMpL5dFYrg="
  - secure: "oWeeHr4HbtmSjwAhr3DUBZEdjtJxDOJ1ZQz1+i2AkKM03DDWNqHqH9f2TuL6cp3OjIvLwxvzZtRvwsvJfqngziqKLno708supjbGGU/Mvt2T5sUHcIm9HNJv9lF+K8ZiaPs8WPyMDwnMzUU8pkQwMEQqQ/zei+giaigR3+REs8QwRT1L6wWz2hyV9suKsbBK7t8yJ0kJx6roKglzNxcViX+NCUFFWqh3V3/Gcp2vyTm9x9UWATxqQM35HMjQkzyr9tqrRls/JQYQV0Cz+Cnc57ZH2UJTQbwvTrJipjRRcGJTxFKvG2JymzwQ0w57Jz+A7eXRVTuc4Qklyl3udFlM914irtz3lCxiAEOWm24or6S9buNAwljK4tUHhwJHW6yaOxLm9CjuVkmnvmjU2ZOQ6CMffT6lRr6uXC5jRpLDrbdGAXSwSwQhLDcWs1SpQ4rulP2XmXsPijIKLcVcLPbtWgOfAj/aaADixojiML/LvuIUHnaOlbWKqlUay3n/7VZ/E8ZU+HwIfa6144SlGW7HfZPosWlYJN63n+PIBQwhLM5wgpZ6x3YKwT8tOoSo8hnUisL5YLodEvq7ESZtTqREsubCK/UECLPH49QaI0u/47e0lpLZvDgvGQsSvku4bYfIPzvsVSLETBB68cpqeUFqIiBG5pPOKNPdSQdA4DtX+cs="
  - secure: "d24Bjx8Wrpv8gUEmMrCJnfPZJDaplRvZU03CDrd479ymrtRfucB2kY4qczX8IhGlfSKB+YF/nTP1xm57eYKj5xX8Sj/YUFn2klxpuG8UUXQUEhbUheIDrZ5LNOc52I0BfZc83Kgw05PujEN5+AEgxEVsVLNCtgd7vbvvXT/BvaWmwvoEKKAwMHbI5ylYG8y2S0MGR2ZxjEf8/V5eyGZbPiDc/T3jM7myPlKv+1TvUF5eVDlfHWhqoaxF1B04xHvxZL/LChqKwGx5R6eYm2OXBKL1PorI6984y3bZ9g8JWgfhZpvDkPiGoIVa/nceBo+G4f5Hd3f+y7MbTgFyrL5AnebJPtXu0ctSHMCUb7kDxsSzQ4RoqaRMIS7MIvk6WyX2tDE8IyC/CnUYUpD6+TVzKdn61yiAtTeuU/PaZZ2MnKHm9uhizzewW7JFAOQ9jNU3lujxnXu4Gz34jVfO1W117A990quFGiy3D91uC+6XX9fk8SYV5cxnW6Ze3c7mzmwKFeYxKARueS189EHq60yPYddwg/2Owh97mytO+qMO+bMOP/THVzEu6af+SZ4/0jst6zDJSbrggRz+oML3VlIRf2Fj7GjpvQuAtrlMpw6l/euuLAqIfge2tNxMzOVHXlN8shCh0+MfMUAcvpNO2vshmfq8HslYJwcVW9h33Zzlips="
  - secure: "ai3AaeuFppb9gtNj5QKMD+g8cFdnt5ncapUnzTnYR7LB3gWbIm9xRUmO9wzuF2IUbEJn5fSlXsgI5wifSmNol/ya3EJQMviGB2DuHkM6mVvbuA1UISI0KKt7PUCBVHLvKHPVGVDweN2qutdp72TOJcTxAHDlPQK0Euv1D3N/uE7AvzYDJSwgBqcC1AN+2JD6ILcOoWzAYqCuIuR63ChfbCFFrwF1wj/OY1/Hogmbn34NKef0FExOwePr+TJMhsJcvJLMo2JdhfhRa5/tCKDLrgmJSI1lIU5gMKvwL0jgtUBH7FD+wzPijtYMeoslwmBrzzaZhABWKr8AByVpre2B6VdZU2KSvDZa/WmPLa75TobCN6gfGhnSw0RYKK8eP+Y2ahw+98Glsqtg/LUuEz2nLWRHj/6GJa5lPMhfDfaG812z0KqT4KTqgMbGgxXf9KSch+E4j0P7n4zu1rApvFtwWC4jfo5oRc+Im2wfuB3D64vcrmHHn9FPTRDq8BRFdzYOaiHzrgJO13gpHIjwE7FgYdQ1rF9aZN3O1SoSbTcOOv0TUI+BBhS+UXaVud2VWtbQol47LtxQ9OZv5ixxHX5n7fFIWXaK92i33ZkYgWJpeflFY7qqp8TqzC6Li/PJy3hPJr0tKGOyBToBkbSuepizdpnPByFo2dnRUa6jUGJAr0w="
  - secure: "ixd+JJsU5af0XfC/tqMYDwgWVtdIUcpzHWIhk/T01TYj9YoQYO9W1teY7qy7hjGN8C2CWWI/ZHTuXFtNWqbmCAg9CUcATqgm572VOZ2tLmFxM9bMef4GjTpCvx4kLG5f5vUbJxm0yjleMlrOvM5NxPl9iFuQ88+dXNFoTotsoqDNjoIMrPxV4UTyCijUo1JPVMEgjgQ7gmSQH4RGPRIK/Zj99fZTW8rzyTpDL6H3QHvgstMkYenQFg/3xhPmPiyVeQQFEv4+j0MrVAq/O2Gf1OeTr1S2sF0Cgjg0upUeLnWvAjJ4Hhgp3j2wKzuFBI7tNmDmx82sh3VjO2NfZU5jsAUSuuX4FapoOZ7mQu0KhnpIhXVmveYSlX5s9gIQf8FoHADD2/tBJLMfxJ7nYRBd2x3NzxrVGkWrC8QdYau0E+Ert1tAZZMbosrLBrUNfaGG3oVkKKTm0fSVawCr9vq9ovqNZKLAXTFHrU21U896FqXAiDND3RTdtgah7VohYt/n2/kpvSZlaj53qnhv4QK1hwHYFbo4sZpfDeDhtEYVwMrgZl6rwuCydJPjZQHJ/mWrUbwWPgvA/6sYU/9vgJa8cAFH+3tR/JfDXlPzW2NDjhbcNdyoyZtAIWh2vMmSrQQB1vq7uDSCN3MSZBKP0MSwVh+mERsRpGoPLML+Wuki2bg="
