[[resources-{{link}}]]
=== {{title}}

include::{snippets}/{{path}}/method-path.adoc[]

include::{snippets}/{{path}}/description.adoc[]
{{#sections}}

==== {{header}}

include::{snippets}/{{path}}/{{fileName}}.adoc[]
{{/sections}}