{{#hasContent}}
{{#isPagedResponse}}Standard <<overview-pagination,paging>> response where `content` field is list of following objects:{{/isPagedResponse}}
|===
|Path|Type|Optional|Description

{{#content}}
|{{path}}
|{{type}}
|{{optional}}
|{{description}}

{{/content}}
|==={{/hasContent}}{{#noContent}}No response body.{{/noContent}}