{{#hasContent}}{{#isPageResponse}}Standard <<overview-pagination,paging>> response where `content` field is list of following objects:

{{/isPageResponse}}|===
|Path|Type|Optional|Description

{{#content}}
|{{path}}
|{{type}}
|{{optional}}
|{{description}}

{{/content}}
|==={{/hasContent}}{{#noContent}}No response body.{{/noContent}}