{{#isPageRequest}}{{pagination-request-md}}

{{/isPageRequest}}{{#hasContent}}{{th-parameter}} | {{th-type}} | {{th-optional}} | {{th-description}}
--------- | ---- | -------- | -----------
{{#content}}
{{path}} | {{type}} | {{optional}} | {{description}}
{{/content}}
{{/hasContent}}{{#noContent}}{{no-params}}{{/noContent}}