{{#hasContent}}{{th-header}} | {{th-type}} | {{th-optional}} | {{th-description}}
------ | ---- | -------- | -----------
{{#content}}
{{path}} | {{type}} | {{optional}} | {{description}}
{{/content}}
{{/hasContent}}{{#noContent}}{{no-headers}}{{/noContent}}