[[resources-{{link}}]]
=== {{title}}

include::{snippets}/{{path}}/auto-method-path.adoc[]

include::{snippets}/{{path}}/auto-description.adoc[]
{{#sections}}

==== {{header}}

include::{snippets}/{{path}}/{{fileName}}.adoc[]
{{/sections}}